<form [formGroup]="form" autocomplete="off" *ngIf="form" (submit)="onSubmit()">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="OrderNo">Contato</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">+ 55</div>
                    </div>
                    <input type="number" placeholder="Digite o telefone" name="OrderNo" formControlName="OrderNo"
                        class="form-control">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="CustomerID">Cliente</label>
                <input type="text" name="CustomerID" placeholder="Digite o nome" formControlName="CustomerID"
                    class="form-control" *ngFor="let item of customerList" value="{{item.CustomerID}}"
                    [class.is-invalid]="!isValid && form.controls.CustomerID.value == ''">
                    <option *ngFor="let item of customerList" value="{{item.CustomerID}}"> {{item.Nome}}</option>
            </div>
        </div>
    </div>

    <table class="table table-borderless">
        <thead class="thead-light">
            <th>Produto</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Data</th>
            <th>Total</th>
            <th>
                <a class="btn btn-sm btn-success text-white" (click)="manipularItem(null, form.controls.OrderID)"><i
                        class="fa fa-plus"></i>
                    Adicionar Item</a>
            </th>
        </thead>
        <tbody>
            <tr *ngIf="service.orderItems.length==0" [class.text-danger]="!isValid && service.orderItems.length == 0">
                <td class="font-italic text-center" colspan="6">
                    Conta vazia
                </td>
            </tr>
            <tr *ngFor="let item of service.orderItems; let i = index;">
                <td> {{ item.ItemName }} </td>
                <td> {{ item.Price }}</td>
                <td> {{ item.Quantity }}</td>
                <td> {{ item.Date }} </td>
                <td> {{ item.Total }}</td>
                <td>
                    <a class="btn btn-sm btn-info text-white" (click)="manipularItem(i, form.controls.OrderID)"><i
                            class="fa fa-pencil"></i>
                    </a>
                    <a class="btn btn-sm btn-danger text-white ml-1" (click)="deletarItem(item.OrderItemID,i)"><i
                        class="fa fa-trash"></i>
                </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label><br></label>
                <div>
                    <div>
                        <div></div>
                    </div>
                    <button type="submit" class="btn btn-dark"><i class="fa fa-database"> Cadastrar</i></button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="GTotal">Total</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div type="number" class="input-group-text">R$</div>
                    </div>
                    <input name="GTotal" formControlName="GTotal" class="form-control" readonly>
                </div>
            </div>
        </div>
    </div>
</form>