<div>
<button class="btn btn-primary" (click)="addItem()">Novo cliente</button>

<p *ngIf="!(clients && clients.length)">Não existem conta aberta</p>

<table class="table"  *ngIf="(clients && clients.length)">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Telefone</th>
            <th>Opção</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let client of clients">
            <td> {{client.name }} </td>
            <td> {{client.phone}} </td>
            <td>
                <button class="btn btn-success" [routerLink]='["/client-edit/" + client.idClient]' >Alterar</button>
                <button class="btn btn-danger"  (click)="delete(client)">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>
</div>
