<div class="card col-md-12 background" style="width: 18rem;">
  <div class="card-body">
    <form [formGroup]="form">
      <div class="form-group">
        <input type="password" class="form-control" formControlName="pin" placeholder="Senha do admin">
      </div>
      <span class="invalid" *ngIf="form.controls.pin.invalid && form.controls.pin.dirty">Preenchimento
        obrigatório</span>
      <button class="btn btn-lg btn-block button" (click)="submit()">Acessar</button>
    </form>
  </div>
</div>
