body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background: #efeff1;
    background: -moz-linear-gradient(60deg, #efeff1 0%, #d7976d 100%);
    background: -webkit-linear-gradient(60deg #efeff1 0%, #d7976d 100%);
    background: linear-gradient(60deg, #efeff1 0%, #d7976d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3023ae', endColor);
}

.form-control, .input-group-text{
    border:1px solid #0080ff;
}

table.table-hover tbody tr:hover{
    cursor: pointer;
}

